.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #443c68;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: whitesmoke;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.modal-input {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.default-button {
  width: 355px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #3e76fe;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
