.project-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project-board {
  background-color: #392f53;
  width: 95%;
  height: 95%;
  border-radius: 10px;
}
