.activity-graph {
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.activity-board {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  padding: 15px;
  width: 90%;
  height: 300px;
  background-color: #2d2643;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  overflow: scroll;
}
