.project-representation {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
  margin-bottom: 10px;
  user-select: none;
  padding: 5px;
}

.project-name {
  user-select: none;
}
