.dark-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.creational-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
